<div class="form">
  <%= form_for transaction, url: {action: transaction.new_record? ? "create" : "update"} do |f| %>
    <div class="form-group">
      <label>
        <%= t("user.transaction.model.type") %>
      </label>
      <%= f.select :transaction_type, Transaction::TYPES.map {|type| [t("user.transaction.types.#{type}"), type]}, {}, {:class => "form-control"} %>
    </div>

    <div class="form-group">
      <label>
        <%= t("user.transaction.model.name") %>
      </label>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>
        <%= t("user.transaction.model.description") %>
      </label>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>
        <%= t("user.transaction.model.amount") %>
      </label>
      <%= f.number_field :amount, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>
        <%= t("user.transaction.model.account") %>
      </label>
      <% default_value = params[:account] ? params[:account] : nil %>
      <% values = current_user.accounts.pluck(:name, :currency, :id).map{|name, currency, id| ["#{name} (#{currency})", id]}%>
      <%= f.select :account_id, options_for_select(values, default_value), {}, {:class => "form-control"} %>
    </div>

    <div class="form-group">
      <label>
        <%= t("user.transaction.model.date") %>
      </label>
      <%= f.text_field :date, class: "datepicker" %>
    </div>

    <%= link_to t("form.cancel"), :back, class: "btn" %>
    <%= f.submit transaction.new_record? ? t("form.create"): t("form.update"), :class => "btn btn-default" %>
  <% end %>
</div>